<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/image/news-logo.png"/>
    <title>404 News</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="font-sans min-h-screen flex flex-col">
    <header class="w-full p-4 bg-green-800 border-b border-green-900">
      <div class="flex flex-col gap-4 items-center lg:flex-row lg:justify-between">
    
        <a href="/index.html" class="cursor-pointer">
          <img class="w-32 lg:w-40 object-contain" src="/image/404news-logo.png" alt="404 News">
        </a>
    
        <nav class="text-white font-bold">
          <ul class="flex flex-col gap-3 items-center lg:flex-row lg:gap-6">
            <li><a class="px-2 py-2 hover:border-b-2 hover:border-white transition" href="index.html">Inicio</a></li>
            <li><a class="px-2 py-2 hover:border-b-2 hover:border-white transition" href="section.html">Lo Nuevo</a></li>
            <li><a class="px-2 py-2 hover:border-b-2 hover:border-white transition" href="section.html">Tendencias</a></li>
            <li><a class="px-2 py-2 hover:border-b-2 hover:border-white transition" href="section.html">IA</a></li>
            <li><a class="px-2 py-2 hover:border-b-2 hover:border-white transition" href="section.html">PCs</a></li>
            <li><a class="px-2 py-2 hover:border-b-2 hover:border-white transition" href="section.html">Moviles</a></li>
            <li><a class="px-2 py-2 hover:border-b-2 hover:border-white transition" href="section.html">Otros</a></li>
          </ul>
        </nav>
    
          <button class="p-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
              stroke="currentColor" class="size-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </button>
        </div>
    </header>

  <div class="flex-1">
    <main class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-4 gap-6 px-6 py-10">
        <aside class="lg:col-span-1">
        <h3 class="font-bold text-neutral-700">Ultimas Tendencias</h3>
    
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 1</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 2</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 3</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 3</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 3</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 3</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 3</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 3</h4>
        </a>
        <a href="" class="block hover:underline border-t border-gray-300 pt-1">
          <h4 class="text-sm leading-snug break-words">Noticia 3</h4>
        </a>

        <h2 class="m-2 text-xl font-semibold uppercase mt-8">
          La semana pasada
        </h2>
          <section class="flex flex-col text-xs items-center lg:flex-row lg:flex-wrap lg:gap-4">
            <article class="mb-10 relative">
              <a href="">
              <img class="w-full max-w-xs h-40 object-cover rounded"
                src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
                alt="Reunión de líderes de la Unión Europea"/>
                <h2 class="font-sans w-60 mt-1 hover:underline">
                  Líderes de la UE se reúnen para trazar un nuevo rumbo tras
                  amenazas de Trump sobre Groenlandia.
                </h2>
                <time class="block font-sans text-gray-400 text-right text-xs font-bold">
                    02/2/2026
                </time></a>
            </article>

            <article class="mb-10 relative">
              <a href="">
              <img class="w-full max-w-xs h-40 object-cover rounded"
                src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
                alt="Reunión de líderes de la Unión Europea"/>
                <h2 class="font-sans w-60 mt-1 hover:underline">
                  Líderes de la UE se reúnen para trazar un nuevo rumbo tras
                  amenazas de Trump sobre Groenlandia.
                </h2>
                <time class="block font-sans text-gray-400 text-right text-xs font-bold">
                  02/2/2026
                </time></a>
            </article>
          </section>
        </aside>

        <section class="lg:col-span-2 flex flex-col">
          <article class="mb-10 relative group">
            <a href="">
            <img class="w-full h-96 object-cover rounded"
              src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
              alt="Reunión de líderes de la Unión Europea"/>
            <div class="absolute w-full top-0 text-right bg-black bg-opacity-20 opacity-0 group-hover:opacity-100 duration-200">
              <time class="block font-sans text-white text-right font-bold p-4">
                02/2/2026
            </time>
            </div>
            <div class="absolute w-full bottom-0 bg-black bg-opacity-30 opacity-0 group-hover:opacity-100 duration-200">
              <h2 class="font-sans text-white font-bold p-4">
                Líderes de la UE se reúnen para trazar un nuevo rumbo tras
                amenazas de Trump sobre Groenlandia.
              </h2>
            </div></a>
          </article>

          <article class="mb-10 relative group">
            <a href="">
            <img class="w-full h-96 object-cover rounded"
              src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
              alt="Reunión de líderes de la Unión Europea"/>
            <div class="absolute w-full top-0 text-right bg-black bg-opacity-20 opacity-0 group-hover:opacity-100 duration-200">
              <time class="block font-sans text-white text-right p-4 font-bold">
                02/2/2026
            </time>
            </div>
            <div class="absolute w-full bottom-0 bg-black bg-opacity-20 opacity-0 group-hover:opacity-100 duration-200">
              <h2 class="font-sans text-white font-bold p-4">
                Líderes de la UE se reúnen para trazar un nuevo rumbo tras
                amenazas de Trump sobre Groenlandia.
              </h2>
            </div></a>
          </article>

          <article class="mb-10 relative group ">
            <a href="">
            <img class="w-full h-96 object-cover rounded"
              src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
              alt="Reunión de líderes de la Unión Europea"/>
            <div class="absolute w-full top-0 text-right bg-black bg-opacity-20 opacity-0 group-hover:opacity-100 duration-200">
              <time class="block font-sans text-white text-right p-4 font-bold">
                02/2/2026
            </time>
            </div>
            <div class="absolute w-full bottom-0 bg-black bg-opacity-20 opacity-0 group-hover:opacity-100 duration-200">
              <h2 class="font-sans text-white font-bold p-4">
                Líderes de la UE se reúnen para trazar un nuevo rumbo tras
                amenazas de Trump sobre Groenlandia.
              </h2>
            </div></a>
          </article>
        </section>
      <aside class="lg:col-span-1">
    <div class="bg-gray-100 rounded p-4">
      Publicidad / extra
    </div>
  </aside>
</main>

  <h2 class="mx-auto w-fit m-2 text-xl uppercase lg:w-[calc(15rem*4+3rem)]">
    Más noticias
  </h2>
    <section class="flex flex-col justify-center text-xs items-center lg:flex-row lg:gap-4">
      <article class="mb-10 relative">
        <a href="">
        <img class="w-30 h-40 object-cover rounded"
          src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
          alt="Reunión de líderes de la Unión Europea"/>
          <h2 class="font-sans w-60 mt-1 hover:underline">
            Líderes de la UE se reúnen para trazar un nuevo rumbo tras
            amenazas de Trump sobre Groenlandia.
          </h2>
          <time class="block font-sans text-gray-400 text-right text-xs font-bold">
                02/2/2026
          </time></a>
      </article>

      <article class="mb-10 relative">
        <a href="">
        <img class="w-30 h-40 object-cover rounded"
          src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
          alt="Reunión de líderes de la Unión Europea"/>
          <h2 class="font-sans w-60 mt-1 hover:underline">
            Líderes de la UE se reúnen para trazar un nuevo rumbo tras
            amenazas de Trump sobre Groenlandia.
          </h2>
          <time class="block font-sans text-gray-400 text-right  text-xs font-bold">
            02/2/2026
          </time></a>
      </article>

      <article class="mb-10 relative">
        <a href="">
        <img class="w-30 h-40 object-cover rounded"
          src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
          alt="Reunión de líderes de la Unión Europea"/>
          <h2 class="font-sans w-60 mt-1 hover:underline">
            Líderes de la UE se reúnen para trazar un nuevo rumbo tras
            amenazas de Trump sobre Groenlandia.
          </h2>
          <time class="block font-sans text-gray-400 text-right  text-xs font-bold">
            02/2/2026
          </time></a>
      </article>

      <article class="mb-10 relative">
        <a href="">
        <img class="w-30 h-40 object-cover rounded"
          src="https://dims.apnews.com/dims4/default/2f34a09/2147483647/strip/true/crop/6019x4011+0+1/resize/980x653!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F28%2F9f%2F93d5e092f51bc2bb2771224ed2b2%2F0d35f6187e7a449a9a99924b9a427420"
          alt="Reunión de líderes de la Unión Europea"/>
          <h2 class="font-sans w-60 mt-1 hover:underline">
            Líderes de la UE se reúnen para trazar un nuevo rumbo tras
            amenazas de Trump sobre Groenlandia.
          </h2>
          <time class="block font-sans text-gray-400 text-right  text-xs font-bold">
            02/2/2026
          </time></a>
      </article>
    </section>
</div>

    <footer class="w-full mt-10">
      <div class="bg-green-800 border-b border-green-900">
      <div class="mx-auto lg:w-[calc(15rem*4+3rem)] p-4">
        <a href="/news.html" class="cursor-pointer">
          <img class="w-44 max-h-24 object-contain" src="/404news-logo.png" alt="404 News">
        </a>
      </div>
    </div>

    <div class="bg-gray-800">
      <div class="flex flex-col md:flex-row md:items-start gap-10 md:gap-24 p-6 justify-center text-white font-bold">
      <div class="">
        <ul class="space-y-2">
          <li><a class="hover:underline" href="news.html">Inicio</a></li>
          <li><a class="hover:underline" href="#">Lo Nuevo</a></li>
          <li><a class="hover:underline" href="#">Tendencias</a></li>
        </ul>
      </div>
      <div class="">
        <h3 class="text-xl font-bold mb-2">Categorías</h3>
        <ul class="space-y-2">
          <li><a class="hover:underline" href="news.html">IA</a></li>
          <li><a class="hover:underline" href="#">PCs</a></li>
          <li><a class="hover:underline" href="#">Moviles</a></li>
          <li><a class="hover:underline" href="#">Otros</a></li>
        </ul>
      </div>
      <div class="">
        <h3 class="text-xl font-bold mb-2">Información</h3>
        <ul class="space-y-2">
          <li><a class="hover:underline" href="news.html">Términos de uso</a></li>
          <li><a class="hover:underline" href="#">Política de privacidad</a></li>
          <li><a class="hover:underline" href="#">Contactanos</a></li>
          <li><a class="hover:underline" href="#">Sobre Nosotros</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center text-white py-4">© 2026 404 NEWS</p>
  </footer>
</div>

</body>
</html>