@import "tailwindcss";

@font-face {
  font-family: "TechFont";
  src: url("/fonts/RobotoSlab-Medium.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "TechFont", sans-serif;
}